<div>
    <h1 class="text-2xl font-semibold ml-6 mt-6">Create</h1>
</div>
<div class="mt-4 ml-4 ">
    <form>
     Title: <input type="text" ng-model="title:">
    </form>
    <input type="search" placeholder="" class="ml-4 border-gray-300 border-2 focus:outline-none px-64 h-12 mt-2">
</div>
<div class="flex mt-4 justify-between">
    <div class="ml-4">
        <form>
            Type:<input type="select" ng-model="title:">
        </form>
        <input type="search" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 py-4 h-10 mt-2">
        
    </div>
    <div class="">
        <form>
            Status:<input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 py-4 h-10 mt-2">
        </div>
</div>
<div class="flex mt-4 justify-between">
    <div class="ml-4">
        <form>
            Priority: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
    <div class="">
            <form>
                Resolution: <input type="text" ng-model="title:">
            </form>
            <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
</div>
<div class="flex mt-4 justify-between">
    <div class="ml-4">
        <form>
                Affect Version/s: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
    <div class="">
            <form>
                Fix Version/s: <input type="text" ng-model="title:">
            </form>
            <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
</div>
<div class="flex mt-4 justify-between">
    <div class="ml-4">
        <form>
                components: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
    <div class="">
        <form>
                Assignee: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
</div>
<div class="flex mt-4 justify-between">
    <div class="ml-4">
        <form>
                Labels: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
    <div class="">
        <form>
                Reporter: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
</div>
<div class="flex mt-4 justify-between">
    <div class="ml-4">
        <form>
                Sprint: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
    <div class="">
        <form>
                Description: <input type="text" ng-model="title:">
        </form>
        <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
</div>
<div class="flex mt-4">
    <div class="ml-4 mb-8">
            <form>
                Story Points: <input type="text" ng-model="title:">
            </form>
            <input type="search" placeholder="" class="ml-2 border-gray-300 border-2 focus:outline-none px-14 h-10 mt-2">
    </div>
    <div class="mt-8 ml-auto">
            <button class="text-xl rounded-md bg-sky-500 px-4 py-2">Submit></button>
    </div>
</div>




